<div class="header">
  <header>Let's Learn Frontend Technologies</header>
</div>

<div class="container">
  <button class="btn button1" (click)="onHtmlClick()">HTML</button>
  <button class="btn button2" (click)="onCssClick()">CSS</button>
  <button class="btn button3" (click)="onBootstrapClick()">Bootstrap</button>
  <button class="btn button4" (click)="onJavascriptClick()">JavaScript</button>
  <button class="btn button5" (click)="onAngularClick()">Angular</button>
  <button class="btn button6" (click)="onRxjsClick()">RxJs</button>
  <button class="btn button7" (click)="onNgrxClick()">NgRx</button>
</div>
