.header {
    display: flex;
    flex-direction: column;
    font-size: 100px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-weight: bold;
}

.container {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.btn {
    color: white;
    background-color: blue;
    width: 150px;
    height: 50px;
    border: 100px;
    border-radius: 50px;
    font-weight: bold;
}

.btn:hover {
    background-color: rgb(223, 80, 80);
    cursor: pointer;
}